## Basic Data Grouping

In [1]:
import pandas as pd

In [3]:
# Load the data into a DataFrame
data = pd.read_csv('endangeredLang.csv')
 
data.head(6)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."

In [8]:
 #sort in descending order by 'Number of speakers' and show 10 first row 
descending = data.sort_values('Number of speakers',ascending=False)
descending.head(10)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ..."

In [10]:
#sort in ascending order by 'Number of speakers' and show 10 first row 
ascending = data.sort_values('Number of speakers',ascending = True)
ascending.head(10)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
2538,130,ǁXegwi,South Africa,ZAF,Extinct,0.0,-25.3500,30.9900,"Lake Chrissie, Eastern Transvaal."
2374,477,Kamas,Russian Federation,RUS,Extinct,0.0,57.9964,92.8784,formerly spoken in the eastern part of the Min...
2373,696,Judeo-Berber (Morocco),Morocco,MAR,Extinct,0.0,30.8220,-6.8005,Several areas in the Higher and the Middle Atl...
2372,1925,Jorá,Bolivia (Plurinational State of),BOL,Critically endangered,0.0,-14.0246,-63.3581,NaN
2371,857,Island Chumash,United States of America,USA,Extinct,0.0,34.3821,-119.4574,NaN
2370,298,Island Carib,Dominica,DMA,Extinct,0.0,15.4325,-61.2817,Carib Indian reservation on the eastern coast ...
2369,854,Ineseño,United States of America,USA,Extinct,0.0,34.5942,-120.1371,NaN
2368,2642,Ifo,Vanuatu,VUT,Extinct,0.0,-18.6605,169.1434,Northeastern Erromanga Island
2367,1537,Huron-Wyandot (United States of America),United States of America,USA,Extinct,0.0,36.7923,-94.7229,Huron and Wyandotte is the same language. The ...
2366,2592,Hukumina,Indonesia,IDN,Extinct,0.0,-3.1514,126.2713,"Buru Island, Maluku"

In [11]:
# Group by 'Degree of endangerment' and show 10 first row 
data.groupby(['Degree of endangerment']).count()

,ID,Name in English,Countries,Country codes alpha 3,Number of speakers,Latitude,Longitude,Description of the location
Degree of endangerment,,,,,,,,
Critically endangered,607,607,607,607,544,606,606,395
Definitely endangered,680,680,679,679,635,680,680,485
Extinct,253,253,253,253,244,252,252,142
Severely endangered,554,554,554,554,505,554,554,388
Vulnerable,628,628,628,628,611,627,627,460

In [12]:
# How many entries in each group based on Degree of endangerment
data.groupby(['Degree of endangerment']).count()

,ID,Name in English,Countries,Country codes alpha 3,Number of speakers,Latitude,Longitude,Description of the location
Degree of endangerment,,,,,,,,
Critically endangered,607,607,607,607,544,606,606,395
Definitely endangered,680,680,679,679,635,680,680,485
Extinct,253,253,253,253,244,252,252,142
Severely endangered,554,554,554,554,505,554,554,388
Vulnerable,628,628,628,628,611,627,627,460

In [11]:
#group on basis of two qualitative columns 


# pd.set_option('display.max_rows', None)  
# Show first 10 rows

In [16]:
# How many entries in each group based on 'Countries' and 'Degree of endangerment'
data.groupby(['Countries','Degree of endangerment']).count()

                                                                           ID  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered    2
                                                   Definitely endangered    5
                                                   Severely endangered      4
                                                   Vulnerable               1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered      1
...                                                                        ..
Viet Nam                                           Severely endangered      2
                                                   Vulnerable               4
Western Sahara                                     Critically endangered    1
Yemen                                              Definitely endangered    1
                                                   Severely endangered      1

                                                                           Name in English  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                 2
                                                   Definitely endangered                 5
                                                   Severely endangered                   4
                                                   Vulnerable                            1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                   1
...                                                                                    ...
Viet Nam                                           Severely endangered                   2
                                                   Vulnerable                            4
Western Sahara                                     Critically endangered                 1
Yemen                                              Definitely endangered                 1
                                                   Severely endangered                   1

                                                                           Country codes alpha 3  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                       2
                                                   Definitely endangered                       5
                                                   Severely endangered                         4
                                                   Vulnerable                                  1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                         1
...                                                                                          ...
Viet Nam                                           Severely endangered                         2
                                                   Vulnerable                                  4
Western Sahara                                     Critically endangered                       1
Yemen                                              Definitely endangered                       1
                                                   Severely endangered                         1

                                                                           Number of speakers  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                    2
                                                   Definitely endangered                    5
                                                   Severely endangered                      4
                                                   Vulnerable                               0
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                      0
...                                                                                       ...
Viet Nam                                           Severely endangered                      2
                                                   Vulnerable                               4
Western Sahara                                     Critically endangered                    1
Yemen                                              Definitely endangered                    1
                                                   Severely endangered                      1

                                                                           Latitude  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered          2
                                                   Definitely endangered          5
                                                   Severely endangered            4
                                                   Vulnerable                     1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered            1
...                                                                             ...
Viet Nam                                           Severely endangered            2
                                                   Vulnerable                     4
Western Sahara                                     Critically endangered          1
Yemen                                              Definitely endangered          1
                                                   Severely endangered            1

                                                                           Longitude  \
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered           2
                                                   Definitely endangered           5
                                                   Severely endangered             4
                                                   Vulnerable                      1
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered             1
...                                                                              ...
Viet Nam                                           Severely endangered             2
                                                   Vulnerable                      4
Western Sahara                                     Critically endangered           1
Yemen                                              Definitely endangered           1
                                                   Severely endangered             1

                                                                           Description of the location
Countries                                          Degree of endangerment
Afghanistan                                        Critically endangered                             2
                                                   Definitely endangered                             5
                                                   Severely endangered                               4
                                                   Vulnerable                                        0
Albania, Algeria, Bosnia and Herzegovina, Bulga... Severely endangered                               1
...                                                                                                ...
Viet Nam                                           Severely endangered                               0
                                                   Vulnerable                                        0
Western Sahara                                     Critically endangered                             1
Yemen                                              Definitely endangered                             1
                                                   Severely endangered                               1

[531 rows x 7 columns]

In [15]:
#group number of speakers by group labels (row names) from countries, then show 10 first row
x = data['Number of speakers'].groupby(data['Countries'])
x.head(10)

0       7500000.0
1       5000000.0
2       4800000.0
3       4000000.0
4       3500000.0
          ...
2714          NaN
2716          NaN
2717          NaN
2720          NaN
2721          NaN
Name: Number of speakers, Length: 954, dtype: float64

### lambda functions

#### identify which languages have fewer then 5k speakers

In [18]:
#create new column 'vfew' that identify which languages have fewer then 5k speakers
data['fvew'] = data['Number of speakers'].apply(lambda x : x<=5000)
data['fvew']

0       False
1       False
2       False
3       False
4       False
        ...
2717    False
2718    False
2719    False
2720    False
2721    False
Name: fvew, Length: 2722, dtype: bool

In [19]:
#Show 6 first column
data['fvew'].head(6)

0    False
1    False
2    False
3    False
4    False
5    False
Name: fvew, dtype: bool

In [31]:
# Group by 'vfew' and store in a variable called 'group_by_5k'
group_by_5k = data.groupby('fvew')

In [32]:
# group_by_5k.size()
group_by_5k.size()

fvew
False     879
True     1843
dtype: int64

In [34]:
# Group by 'vfew' and 'Countries' and store in a variable called 'group_by_5kC
group_by_5kc = data.groupby(['fvew','Countries'])

In [37]:
#Show the size of each group
print((group_by_5k.size()))
print((group_by_5kc.size()))

fvew
False     879
True     1843
dtype: int64
fvew   Countries
False  Afghanistan                                                                                                                                                                                                                                                                                                                                                                                      2
       Albania, Algeria, Bosnia and Herzegovina, Bulgaria, Croatia, Greece, The former Yugoslav Republic of Macedonia, Morocco, Romania, Turkey, Serbia                                                                                                                                                                                                                                                 1
       Albania, Bulgaria, Greece, The former Yugoslav Republic of Macedonia, Serbia                                                                                                                                                                                                                                                                                                                     1
       Albania, Bulgaria, The former Yugoslav Republic of Macedonia, Romania, Serbia                                                                                                                                                                                                                                                                                                                    1
       Albania, Germany, Austria, Belarus, Bosnia and Herzegovina, Bulgaria, Croatia, Estonia, Finland, France, Greece, Hungary, Italy, Latvia, Lithuania, The former Yugoslav Republic of Macedonia, Netherlands, Poland, Romania, United Kingdom of Great Britain and Northern Ireland, Russian Federation, Slovakia, Slovenia, Switzerland, Czech Republic, Turkey, Ukraine, Serbia, Montenegro      1
                                                                                                                                                                                                                                                                                                                                                                                                     ...
True   United States of America                                                                                                                                                                                                                                                                                                                                                                       192
       Vanuatu                                                                                                                                                                                                                                                                                                                                                                                         47
       Venezuela (Bolivarian Republic of)                                                                                                                                                                                                                                                                                                                                                              18
       Viet Nam                                                                                                                                                                                                                                                                                                                                                                                        14
       Western Sahara                                                                                                                                                                                                                                                                                                                                                                                   1
Length: 346, dtype: int64

In [42]:
#Find the unique values of 'Degree of endangerment' and the number of each group
data['Degree of endangerment'].value_counts()

Degree of endangerment
Definitely endangered    680
Vulnerable               628
Critically endangered    607
Severely endangered      554
Extinct                  253
Name: count, dtype: int64

## Subsetting and Indexing

In [43]:
#select all entries from index 2 onwards
data[2:]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location,fvew,group_by_5k
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th...",False,False
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...,False,False
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...,False,False
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-...",False,False
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ...",False,False
...,...,...,...,...,...,...,...,...,...,...,...
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,24.4580,122.9802,Yonaguni Island,False,False
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,-1.2633,-70.6640,NaN,False,False
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN,1.1370,-70.2136,NaN,False,False
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,34.0833,76.8500,NaN,False,False
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,58.0957,Capital area of Muscat,False,False

In [46]:
#select entries at even index location
data.iloc[1::2]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location,fvew,group_by_5k
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri...",False,False
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...,False,False
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-...",False,False
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand...",False,False
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ...",False,False
...,...,...,...,...,...,...,...,...,...,...,...
2713,2093,Wichi,"Argentina, Bolivia (Plurinational State of)","ARG, BOL",Vulnerable,NaN,-22.0041,-63.4130,NaN,False,False
2715,1365,Yazva Komi,Russian Federation,RUS,Severely endangered,NaN,60.0348,57.5360,the Yaz’va Valley in Krasnovishera County in n...,False,False
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,24.4580,122.9802,Yonaguni Island,False,False
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN,1.1370,-70.2136,NaN,False,False
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,58.0957,Capital area of Muscat,False,False

In [47]:
#specify the ranges of rows and columns --> first 8 rows and first 7 columns
#positional indexing
data.iloc[:7,:8]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333

In [48]:
#select all columns for rows of index values 0 and 10
data.iloc[1:10]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location,fvew,group_by_5k
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri...",False,False
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th...",False,False
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...,False,False
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...,False,False
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-...",False,False
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ...",False,False
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand...",False,False
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...,False,False
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ...",False,False

In [51]:
#isolate rows and columns: Subset the data by only using column 'Countries' &'Name in English' 
#Only rows 4 - 7
data[['Countries','Name in English']].iloc[4:8]

                                           Countries   Name in English
4                                 Italy, Switzerland           Lombard
5  Albania, Germany, Austria, Belarus, Bosnia and...            Romani
6                                             Israel  Yiddish (Israel)
7                                              India             Gondi

In [55]:
#isolate by row names
#Select the data only from Italy 
data[data['Countries']=='Italy']

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location,fvew,group_by_5k
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz...",False,False
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri...",False,False
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th...",False,False
36,337,Campidanese,Italy,ITA,Definitely endangered,900000.0,39.2991,8.9868,southern Sardinia,False,False
53,353,Friulian,Italy,ITA,Definitely endangered,600000.0,46.1037,13.1396,the Autonomous Region Friuli-Venezia Giulia ex...,False,False
80,381,Logudorese,Italy,ITA,Definitely endangered,400000.0,40.1116,9.1845,central Sardinia,False,False
157,408,Sassarese,Italy,ITA,Definitely endangered,120000.0,40.6139,8.6132,northwestern Sardinia; an outlying dialect of ...,False,False
170,356,Gallurese,Italy,ITA,Definitely endangered,100000.0,40.8802,9.4482,northeastern Sardinia; an outlying dialect of ...,False,False
197,1347,Arbëresh,Italy,ITA,Definitely endangered,80000.0,40.9321,14.8645,"(i) Adriatic zone: Montecilfone, Campomarino, ...",False,False
212,1330,Gallo-Sicilian,Italy,ITA,Definitely endangered,65000.0,38.0167,14.5994,"Nicosia, Sperlinga, Piazza Armerina, Valguarne...",False,False
320,565,Ladin,Italy,ITA,Definitely endangered,30000.0,46.5531,11.8597,"several towns and villages in the Dolomites, i...",False,False
391,1614,Griko (Salento),Italy,ITA,Severely endangered,20000.0,40.1578,18.2208,the Salento peninsula in Lecce Province in sou...,False,False
510,1343,Algherese Catalan,Italy,ITA,Definitely endangered,10000.0,40.5638,8.3276,the town of Alghero in northwestern Sardinia; ...,False,False
729,1349,Molise Croatian,Italy,ITA,Severely endangered,5000.0,41.8787,14.7065,"the villages of Montemitro (Mundimitar), San F...",True,True
964,1339,Griko (Calabria),Italy,ITA,Severely endangered,2000.0,37.9961,15.9329,a few villages near Reggio di Calabria in sout...,True,True
1198,1511,Mòcheno,Italy,ITA,Definitely endangered,1000.0,46.1194,11.3258,"Palù (Palai), Fierozzo (Florutz) and Frassilon...",True,True
1205,1348,Resian,Italy,ITA,Definitely endangered,1000.0,46.3734,13.3058,Resia in the northeastern part of Udine Provin...,True,True
1315,351,Faetar,Italy,ITA,Definitely endangered,600.0,41.3265,15.1721,Faeto and Celle San Vito in Foggia Province in...,True,True
1455,1345,Cimbrian,Italy,ITA,Definitely endangered,400.0,45.8670,11.4268,vigorously spoken in Luserna (Lusern) in Trent...,True,True
1506,357,Gardiol,Italy,ITA,Severely endangered,340.0,39.4658,15.9933,Guardia Piedmontese in Calabria; an outlying d...,True,True
1663,1344,Töitschu,Italy,ITA,Severely endangered,200.0,45.6913,7.8682,the village of Issime (Eischeme) in the upper ...,True,True

In [56]:
 #isolate by two row labels: Countries from Italy and Germany
x = data[data['Countries'].isin(['Italy','Germany'])]
x.head(15)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location,fvew,group_by_5k
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz...",False,False
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri...",False,False
13,399,Piedmontese,Italy,ITA,Definitely endangered,2000000.0,45.2013,7.8662,"Piedmont Region except the Novara Province, th...",False,False
36,337,Campidanese,Italy,ITA,Definitely endangered,900000.0,39.2991,8.9868,southern Sardinia,False,False
53,353,Friulian,Italy,ITA,Definitely endangered,600000.0,46.1037,13.1396,the Autonomous Region Friuli-Venezia Giulia ex...,False,False
80,381,Logudorese,Italy,ITA,Definitely endangered,400000.0,40.1116,9.1845,central Sardinia,False,False
157,408,Sassarese,Italy,ITA,Definitely endangered,120000.0,40.6139,8.6132,northwestern Sardinia; an outlying dialect of ...,False,False
170,356,Gallurese,Italy,ITA,Definitely endangered,100000.0,40.8802,9.4482,northeastern Sardinia; an outlying dialect of ...,False,False
197,1347,Arbëresh,Italy,ITA,Definitely endangered,80000.0,40.9321,14.8645,"(i) Adriatic zone: Montecilfone, Campomarino, ...",False,False
212,1330,Gallo-Sicilian,Italy,ITA,Definitely endangered,65000.0,38.0167,14.5994,"Nicosia, Sperlinga, Piazza Armerina, Valguarne...",False,False
320,565,Ladin,Italy,ITA,Definitely endangered,30000.0,46.5531,11.8597,"several towns and villages in the Dolomites, i...",False,False
391,1614,Griko (Salento),Italy,ITA,Severely endangered,20000.0,40.1578,18.2208,the Salento peninsula in Lecce Province in sou...,False,False
406,384,Sorbian,Germany,DEU,Definitely endangered,19500.0,51.5001,14.4744,Lusatia (Lausitz [Łužica or Łužyca]) region ar...,False,False
510,1343,Algherese Catalan,Italy,ITA,Definitely endangered,10000.0,40.5638,8.3276,the town of Alghero in northwestern Sardinia; ...,False,False
534,394,North Frisian,Germany,DEU,Severely endangered,10000.0,54.7341,8.7478,western coast of Schleswig north of Husum incl...,False,False

In [59]:
# Isolate data from India with Degree of endangerment Vulnerable 
data[(data['Countries'] == "India") & (data['Degree of endangerment'] == "Vulnerable")]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location,fvew,group_by_5k
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand...",False,False
16,1591,Kurux (India),India,IND,Vulnerable,1751489.0,22.1467,85.2758,Jharkhand and Bihar,False,False
18,1585,Tulu,India,IND,Vulnerable,1722768.0,12.0178,75.7067,"Karnataka, Andhra Pradesh, Kerala",False,False
26,1227,Meithei,India,IND,Vulnerable,1250000.0,24.7667,93.8946,"Manipur (throughout, but concentrated in the M...",False,False
33,1577,Kui,India,IND,Vulnerable,916222.0,19.5908,83.9575,"Orissa (Phulbani, Koraput, Ganjam); also in An...",False,False
...,...,...,...,...,...,...,...,...,...,...,...
417,1142,Pochuri,India,IND,Vulnerable,17000.0,25.6712,94.7790,"Nagaland, Phek Dt.",False,False
467,1168,Khampti,India,IND,Vulnerable,13000.0,27.8827,96.5093,"Lohit Valley Dt., concentrated in and around C...",False,False
594,1182,Rongpo,India,IND,Vulnerable,8000.0,30.7229,79.7387,"Uttarakhand, Chamoli dt.",False,False
867,1096,Sherdukpen,India,IND,Vulnerable,3000.0,27.1935,92.3510,NaN,True,True
2653,1566,Padri,India,IND,Vulnerable,NaN,33.8886,76.3000,Jammu and Kashmir,False,False

In [60]:
#make a copy of the data frame stored in data
dataframe = data.copy()

In [63]:
#replace column name: "Number of Speakers" with "Number"
dataframe = dataframe.rename(columns={"Number of Speakers": "Number"})

In [65]:
#Isolate only data from India that <100 number of speakers
dataframe[dataframe['Number of speakers'] < 100]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location,fvew,group_by_5k
1809,2104,Yarawata,Papua New Guinea,PNG,Severely endangered,98.0,-4.9377,145.4946,Madang Province,True,True
1810,1480,O'odham (Mexico),Mexico,MEX,Definitely endangered,94.0,31.5188,-112.7472,Localities of Quitovac and others in the munic...,True,True
1811,2124,Samosa,Papua New Guinea,PNG,Severely endangered,94.0,-5.0116,145.5386,Madang Province,True,True
1812,2116,Mindiri,Papua New Guinea,PNG,Severely endangered,93.0,-5.5517,146.1538,Madang,True,True
1813,2130,Usu,Papua New Guinea,PNG,Severely endangered,93.0,-5.2851,145.4974,Madang Province,True,True
...,...,...,...,...,...,...,...,...,...,...,...
2534,131,|'Auni,South Africa,ZAF,Extinct,0.0,-26.0105,20.3630,NaN,True,True
2535,136,|Xam,South Africa,ZAF,Extinct,0.0,-32.2853,20.7590,NaN,True,True
2536,1443,ǁKu ǁ'e,South Africa,ZAF,Extinct,0.0,-29.9739,27.0812,Border area of Lesotho and South Africa,True,True
2537,1445,ǁKx'au,South Africa,ZAF,Extinct,0.0,-32.2896,21.7968,NaN,True,True
2538,130,ǁXegwi,South Africa,ZAF,Extinct,0.0,-25.3500,30.9900,"Lake Chrissie, Eastern Transvaal.",True,True

#### National Footprint Accounts 2018

The Ecological Footprint of 196 Countries

##### National Footprint Accounts 2018
The National Footprint Accounts (NFA) are an annual production from Global Footprint Network (www.footprintnetwork.org). Each year, we combine and synthesize over 30 datasets to calculate the Ecological Footprint and biocapacity of countries across the world in over 50 years.

The goal of this undertaking is to produce accounts of how much area is required to provide the ecological services (resource regeneration and waste assimilation) consumed by humanity ("Ecological Footprint"), and how much biologically productive area exists to provide these ecological services ("biocapacity") in each year. With both values in hand, we can assess the overall sustainability of countries around the world and better understand the collective need for humanity to reduce its impact on nature.

This data underpins both our Overshoot Day campaign and our Personal Footprint Calculator, both of which you should check out! All of our data is also available on our Data Platform.

##### Inspiration
At Global Footprint Network we spend a lot of time calculating Ecological Footprint, and not as much time investigating and researching the trends we see. We are looking for cool stories, trends, interpretations, or visualizations that are meaningful to you or that you think would be meaningful to others. What is your country's footprint and biocapacity - and which is larger? Can you find out why? What about different regions or economic groups?

Besides descriptive analytics, we are also driven to understand more about the causality of footprint values. Can you identify the effect of sustainable (or unsustainable) policies? Is there a good way to predict future values of footprint? Are there any external indicators closely tied to values of footprint?

There are many ways to slice the data, and we hope you have fun finding your own approach!

Splash Photo by Alexey Topolyanskiy on Unsplash

In [66]:
import numpy as np
import pandas as pd
import math

In [69]:
# Read "NFA 2018.csv"
df = pd.read_csv("NFA 2018.csv")
df

,country,ISO alpha-3 code,UN_region,UN_subregion,year,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,Percapita GDP (2010 USD),population
0,Armenia,ARM,Asia,Western Asia,1992,BiocapPerCap,1.611286e-01,0.135023,0.083836,0.013718,0.033669,0.000000e+00,4.273741e-01,949.033,3449000
1,Armenia,ARM,Asia,Western Asia,1992,BiocapTotGHA,5.558130e+05,465763.337400,289190.662300,47320.224590,116139.598200,0.000000e+00,1.474227e+06,949.033,3449000
2,Armenia,ARM,Asia,Western Asia,1992,EFConsPerCap,3.909225e-01,0.189137,0.000001,0.004138,0.033669,1.112225e+00,1.730092e+00,949.033,3449000
3,Armenia,ARM,Asia,Western Asia,1992,EFConsTotGHA,1.348487e+06,652429.066600,4.327841,14272.803690,116139.598200,3.836620e+06,5.967954e+06,949.033,3449000
4,Armenia,ARM,Asia,Western Asia,1992,EFExportsPerCap,1.124910e-03,0.002283,0.000000,0.000438,0.000000,4.819043e-02,5.203676e-02,949.033,3449000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87015,Luxembourg,LUX,Europe,Western Europe,1999,EFExportsTotGHA,2.727690e+05,38693.594850,529781.310300,38598.597570,0.000000,4.697928e+06,5.577771e+06,87516.400,446000
87016,Luxembourg,LUX,Europe,Western Europe,1999,EFImportsPerCap,9.640340e-01,0.513370,2.175907,0.182401,0.000000,1.672241e+01,2.055812e+01,87516.400,446000
87017,Luxembourg,LUX,Europe,Western Europe,1999,EFImportsTotGHA,4.299939e+05,228981.371100,970532.711500,81357.251260,0.000000,7.458795e+06,9.169660e+06,87516.400,446000
87018,Luxembourg,LUX,Europe,Western Europe,1999,EFProdPerCap,4.959092e-01,0.093481,0.448416,0.000000,0.115181,6.242095e+00,7.395082e+00,87516.400,446000
87019,Luxembourg,LUX,Europe,Western Europe,1999,EFProdTotGHA,2.211934e+05,41695.921850,200009.644900,0.000000,51374.788640,2.784199e+06,3.298473e+06,87516.400,446000

In [70]:
# Show 6 first rows
df.head(6)

,country,ISO alpha-3 code,UN_region,UN_subregion,year,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,Percapita GDP (2010 USD),population
0,Armenia,ARM,Asia,Western Asia,1992,BiocapPerCap,1.611286e-01,0.135023,0.083836,0.013718,0.033669,0.000000e+00,4.273741e-01,949.033,3449000
1,Armenia,ARM,Asia,Western Asia,1992,BiocapTotGHA,5.558130e+05,465763.337400,289190.662300,47320.224590,116139.598200,0.000000e+00,1.474227e+06,949.033,3449000
2,Armenia,ARM,Asia,Western Asia,1992,EFConsPerCap,3.909225e-01,0.189137,0.000001,0.004138,0.033669,1.112225e+00,1.730092e+00,949.033,3449000
3,Armenia,ARM,Asia,Western Asia,1992,EFConsTotGHA,1.348487e+06,652429.066600,4.327841,14272.803690,116139.598200,3.836620e+06,5.967954e+06,949.033,3449000
4,Armenia,ARM,Asia,Western Asia,1992,EFExportsPerCap,1.124910e-03,0.002283,0.000000,0.000438,0.000000,4.819043e-02,5.203676e-02,949.033,3449000
5,Armenia,ARM,Asia,Western Asia,1992,EFExportsTotGHA,3.880378e+03,7875.331688,0.000000,1512.195296,0.000000,1.662329e+05,1.795008e+05,949.033,3449000

In [73]:
## list all unique categorical values in a column
df['record'].unique()

array(['BiocapPerCap', 'BiocapTotGHA', 'EFConsPerCap', 'EFConsTotGHA',
       'EFExportsPerCap', 'EFExportsTotGHA', 'EFImportsPerCap',
       'EFImportsTotGHA', 'EFProdPerCap', 'EFProdTotGHA'], dtype=object)

### subset based on row values

In [77]:
# Now select data only from 'South-Eastern Asia'
df[df['UN_subregion'] == 'South-Eastern Asia']

,country,ISO alpha-3 code,UN_region,UN_subregion,year,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,Percapita GDP (2010 USD),population
8900,Brunei Darussalam,BRN,Asia,South-Eastern Asia,1981,BiocapPerCap,2.665486e-02,0.041847,3.492192e+00,2.689280e+00,2.468873e-02,0.000000e+00,6.274663e+00,46156.20,199000
8901,Brunei Darussalam,BRN,Asia,South-Eastern Asia,1981,BiocapTotGHA,5.307943e+03,8333.321310,6.954211e+05,5.355325e+05,4.916416e+03,0.000000e+00,1.249511e+06,46156.20,199000
8902,Brunei Darussalam,BRN,Asia,South-Eastern Asia,1981,EFConsPerCap,5.149325e-01,0.409487,8.400998e-01,1.791634e-01,2.468873e-02,1.127578e+00,3.095950e+00,46156.20,199000
8903,Brunei Darussalam,BRN,Asia,South-Eastern Asia,1981,EFConsTotGHA,1.025416e+05,81543.661670,1.672941e+05,3.567789e+04,4.916416e+03,2.245414e+05,6.165151e+05,46156.20,199000
8904,Brunei Darussalam,BRN,Asia,South-Eastern Asia,1981,EFExportsPerCap,9.403789e-03,0.017047,1.800607e-03,3.619094e-03,0.000000e+00,4.713569e+00,4.745440e+00,46156.20,199000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81935,Viet Nam,VNM,Asia,South-Eastern Asia,2014,EFExportsTotGHA,1.359283e+07,712.010226,2.126460e+06,5.304669e+06,0.000000e+00,2.070828e+07,4.173295e+07,1596.35,92423000
81936,Viet Nam,VNM,Asia,South-Eastern Asia,2014,EFImportsPerCap,1.420613e-01,0.007896,7.717350e-02,3.281048e-02,0.000000e+00,3.816275e-01,6.415685e-01,1596.35,92423000
81937,Viet Nam,VNM,Asia,South-Eastern Asia,2014,EFImportsTotGHA,1.312977e+07,729747.810100,7.132629e+06,3.032453e+06,0.000000e+00,3.527128e+07,5.929588e+07,1596.35,92423000
81938,Viet Nam,VNM,Asia,South-Eastern Asia,2014,EFProdPerCap,5.948464e-01,0.002222,1.341094e-01,7.114553e-02,1.123556e-01,6.293675e-01,1.544047e+00,1596.35,92423000
81939,Viet Nam,VNM,Asia,South-Eastern Asia,2014,EFProdTotGHA,5.497766e+07,205395.352900,1.239483e+07,6.575504e+06,1.038427e+07,5.816822e+07,1.427059e+08,1596.35,92423000

### subset on basis of row numerical values

In [78]:
## isolate forest area>=5
df[df['forest_land'] >= 5]

,country,ISO alpha-3 code,UN_region,UN_subregion,year,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,Percapita GDP (2010 USD),population
1,Armenia,ARM,Asia,Western Asia,1992,BiocapTotGHA,5.558130e+05,465763.33740,289190.662300,47320.224590,116139.59820,0.000,1.474227e+06,949.033,3449000
11,Armenia,ARM,Asia,Western Asia,1993,BiocapTotGHA,5.386591e+05,466181.59560,289695.836700,47293.877270,107720.23880,0.000,1.449551e+06,886.033,3370000
13,Armenia,ARM,Asia,Western Asia,1993,EFConsTotGHA,1.302751e+06,676458.72570,36.034083,12858.191160,107720.23880,1803706.047,3.903530e+06,886.033,3370000
17,Armenia,ARM,Asia,Western Asia,1993,EFImportsTotGHA,7.682560e+05,222194.84620,36.034083,10388.699090,0.00000,239071.935,1.239948e+06,886.033,3370000
21,Armenia,ARM,Asia,Western Asia,1994,BiocapTotGHA,5.378977e+05,473441.02260,289832.803600,47206.965010,103552.50700,0.000,1.451931e+06,956.471,3290000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87011,Luxembourg,LUX,Europe,Western Europe,1999,BiocapTotGHA,2.211908e+05,41695.92185,470242.389100,384.601164,51374.78864,0.000,7.848885e+05,87516.400,446000
87013,Luxembourg,LUX,Europe,Western Europe,1999,EFConsTotGHA,3.784182e+05,231983.69810,640761.046100,42758.653690,51374.78864,5545066.079,6.890362e+06,87516.400,446000
87015,Luxembourg,LUX,Europe,Western Europe,1999,EFExportsTotGHA,2.727690e+05,38693.59485,529781.310300,38598.597570,0.00000,4697928.299,5.577771e+06,87516.400,446000
87017,Luxembourg,LUX,Europe,Western Europe,1999,EFImportsTotGHA,4.299939e+05,228981.37110,970532.711500,81357.251260,0.00000,7458795.025,9.169660e+06,87516.400,446000
87019,Luxembourg,LUX,Europe,Western Europe,1999,EFProdTotGHA,2.211934e+05,41695.92185,200009.644900,0.000000,51374.78864,2784199.353,3.298473e+06,87516.400,446000

### subset based on list

In [84]:
years = [1990, 2000, 2005] ## list of years

In [88]:
# check whether dataset is in the list of 'years'
seac_y= df[df['year'].isin(years)]

In [89]:
# seac_y.head()
seac_y.head()

,country,ISO alpha-3 code,UN_region,UN_subregion,year,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,Percapita GDP (2010 USD),population
80,Armenia,ARM,Asia,Western Asia,2000,BiocapPerCap,1.604935e-01,0.183081,0.093794,0.015304,0.029599,0.000000e+00,4.822723e-01,1404.32,3076000
81,Armenia,ARM,Asia,Western Asia,2000,BiocapTotGHA,4.936942e+05,563176.839200,288520.910300,47075.673790,91050.151640,0.000000e+00,1.483518e+06,1404.32,3076000
82,Armenia,ARM,Asia,Western Asia,2000,EFConsPerCap,4.095542e-01,0.199877,0.014420,0.008785,0.029599,4.820250e-01,1.144260e+00,1404.32,3076000
83,Armenia,ARM,Asia,Western Asia,2000,EFConsTotGHA,1.259830e+06,614842.264100,44356.729720,27022.891050,91050.151640,1.482757e+06,3.519859e+06,1404.32,3076000
84,Armenia,ARM,Asia,Western Asia,2000,EFExportsPerCap,3.015902e-03,0.004984,0.000896,0.000223,0.000000,4.478441e-02,5.390340e-02,1404.32,3076000

In [ ]:
import pandas as pd

In [ ]:
e = pd.read_csv('ebola.csv')
e.head()

,Indicator,Country,Date,value
0,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,3285.0
1,Cumulative number of confirmed Ebola cases,Guinea,2015-03-10,2871.0
2,Cumulative number of probable Ebola cases,Guinea,2015-03-10,392.0
3,Cumulative number of suspected Ebola cases,Guinea,2015-03-10,22.0
4,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,2170.0

In [ ]:
e.dtypes

Indicator     object
Country       object
Date          object
value        float64
dtype: object

### Improve the readability of indicators

In [ ]:
import re

In [ ]:
def covertIndicators(ind):
    result = 'Unknown : Unknown'
    lst_ind = [
        { 'regx': r'Case fatality rate \(CFR\) of (.*) Ebola cases', 'abbv': 'CFR'},
        { 'regx': r'Cumulative number of (.*) Ebola deaths', 'abbv': 'Cumulative Deaths'},
        { 'regx': r'Cumulative number of (.*) Ebola cases', 'abbv': 'Cumulative Cases'},
        { 'regx': r'Proportion of (.*) Ebola deaths that are from the last 21 days', 'abbv': 'Proportion Deaths 21'},
        { 'regx': r'Proportion of (.*) Ebola cases that are from the last 21 days', 'abbv': 'Proportion Cases 21'},
        { 'regx': r'Proportion of (.*) Ebola cases that are from the last 7 days', 'abbv': 'Proportion Cases 07'},
        { 'regx': r'Number of (.*) Ebola deaths in the last 21 days', 'abbv': 'Number Deaths 21'},
        { 'regx': r'Number of (.*) Ebola cases in the last 21 days', 'abbv': 'Number Cases 21'},
        { 'regx': r'Number of (.*) Ebola cases in the last 7 days', 'abbv': 'Number Cases 07'},
    ]
    for i in lst_ind:
        match = re.search(i['regx'], ind)
        if match:
            tmp = str(match.group(1))
            result = i['abbv'] + ' : ' + (tmp if len(tmp) < 20 else 'All')
            break
    return result

In [39]:
# Convert all Indicators using function above

In [40]:
# Add new columns which consist of class indicator and sub indicator which consist of the last words of indicators

In [41]:
# e.drop(['Indicator', 'ind'], axis=1, inplace=True)
# e.head()

In [42]:
# e['ind_class'].unique()

## Rank & Sorting

In [43]:
import pandas as pd
import numpy as np

In [44]:
s=pd.Series(range(4),index=['d','a','b','c'])

In [45]:
s

d    0
a    1
b    2
c    3
dtype: int64

In [46]:
s.sort_index() #sort index from a to d

a    1
b    2
c    3
d    0
dtype: int64

In [47]:
# Load GlobalFirePower.csv

In [ ]:
 #index according to columns. Coulmns will be arranged alphabetically
#default ascending

In [48]:
#Show first 4 rows

In [49]:
 #index according to columns. Coulmns will be arranged Z-A
#descending

In [50]:
#Show first 4 rows

In [51]:
#Sort by ISO3

In [53]:
#Show first 4 rows

In [52]:
#sort by descending rank order

In [54]:
#Show first 4 rows

In [55]:
#Sort by ISO3 and Country

In [56]:
#Show first 4 rows

### rank

In [57]:
# x=data.rank(axis=1) #Rank data column wise
x = data.select_dtypes(include=[np.number]).rank(axis=1)
#ascending

In [59]:
#Show first 4 rows

In [ ]:
x=data.iloc[0:8,0:8]

In [ ]:
data.head(4)

In [60]:
#Add new columns 'mRank', which calculate the rank of 'Fit-for-Service' in ascending level

In [61]:
#Show first 6 rows

## concatenate

In [ ]:
import pandas as pd
import numpy as np

:

In [ ]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                  columns=['letter', 'number'])

df1

:

In [64]:
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [65]:
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                    columns=['letter', 'number', 'animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [66]:
 #stitch the data together, one on top of the other

In [67]:
#only columns common for both data frames are joined togther

In [68]:
drink = pd.read_csv('starbucks-menu-nutrition-drinks.csv')
 
drink.head(5)

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

In [2]:
import pandas as pd
import numpy as np

In [3]:
food = pd.read_csv('starbucks-menu-nutrition-food.csv', encoding='utf-16')
food.head(5)

         Unnamed: 0   Calories   Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
0      Chonga Bagel        300       5.0          50           3            12
1      8-Grain Roll        380       6.0          70           7            10
2  Almond Croissant        410      22.0          45           3            10
3     Apple Fritter        460      23.0          56           2             7
4  Banana Nut Bread        420      22.0          52           2             6

In [4]:
drink = pd.read_csv("starbucks-menu-nutrition-drinks.csv")
drink

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20,170
173,Strawberry Smoothie,300,2,60,7,16,130
174,Ginger Ale,-,-,-,-,-,-
175,Lemon Ale,-,-,-,-,-,-
176,Orange Cream Soda,-,-,-,-,-,-

In [24]:
#Concat the drink and food 
starbucks = pd.concat((food,drink))
starbucks

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein (g),Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Chonga Bagel,300.0,5.0,50.0,3.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
1,8-Grain Roll,380.0,6.0,70.0,7.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Almond Croissant,410.0,22.0,45.0,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Apple Fritter,460.0,23.0,56.0,2.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Banana Nut Bread,420.0,22.0,52.0,2.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
172,Chocolate Smoothie,NaN,NaN,NaN,NaN,NaN,320,5,53,8,20,170
173,Strawberry Smoothie,NaN,NaN,NaN,NaN,NaN,300,2,60,7,16,130
174,Ginger Ale,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-
175,Lemon Ale,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-
176,Orange Cream Soda,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-

In [20]:
df = pd.DataFrame(starbucks)

In [26]:
# only concatenate the common columns
starbucksnew = pd.concat((food,drink),join = "inner")
starbucksnew

              Unnamed: 0
0           Chonga Bagel
1           8-Grain Roll
2       Almond Croissant
3          Apple Fritter
4       Banana Nut Bread
..                   ...
172   Chocolate Smoothie
173  Strawberry Smoothie
174           Ginger Ale
175            Lemon Ale
176    Orange Cream Soda

[290 rows x 1 columns]

In [27]:
#Chech the data shape
starbucks.shape

(290, 12)

In [32]:
# rename the food column ['Item','Calories','Fat','Carb','Fiber','Protein']
starbucks_columns = ['Item', 'Calories', 'Fat', 'Carb', 'Fiber', 'Protein']

In [44]:
food.rename(columns={
    'Unnamed: 0': 'Item',
    'Calories': 'Calories',
    'Fat (g)': 'Fat',
    'Carb. (g)': 'Carb',
    'Fiber (g)': 'Fiber',
    'Protein (g)': 'Protein'
}, inplace=True)

In [45]:
# Check first 4 rows
food.head(4)

               Item   Calories   Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
0      Chonga Bagel        300       5.0          50           3            12
1      8-Grain Roll        380       6.0          70           7            10
2  Almond Croissant        410      22.0          45           3            10
3     Apple Fritter        460      23.0          56           2             7

In [46]:
drink

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20,170
173,Strawberry Smoothie,300,2,60,7,16,130
174,Ginger Ale,-,-,-,-,-,-
175,Lemon Ale,-,-,-,-,-,-
176,Orange Cream Soda,-,-,-,-,-,-

In [49]:
# rename the food column ['Item','Calories','Fat','Carb','Fiber','Protein','Na']
drink.rename(columns={
    'Unnamed: 0': 'Item',
    'Calories': 'Calories',
    'Fat (g)': 'Fat',
    'Carb. (g)': 'Carb',
    'Fiber (g)': 'Fiber',
    'Protein (g)': 'Protein',
    'Sodium':'Na'
}, inplace=True)

In [50]:
# Check first 4 rows
drink.head(4)

,Item,Calories,Fat,Carb,Fiber,Protein,Na
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10

In [56]:
# concatenates all common columns
df = pd.concat((food,drink),join='inner')
df

                    Item
0           Chonga Bagel
1           8-Grain Roll
2       Almond Croissant
3          Apple Fritter
4       Banana Nut Bread
..                   ...
172   Chocolate Smoothie
173  Strawberry Smoothie
174           Ginger Ale
175            Lemon Ale
176    Orange Cream Soda

[290 rows x 1 columns]

In [54]:
 #concatenates all columns
dfnew = pd.concat((food,drink))
dfnew.head(4)

,Item,Calories,Fat (g),Carb. (g),Fiber (g),Protein (g),Calories,Fat,Carb,Fiber,Protein,Na
0,Chonga Bagel,300.0,5.0,50.0,3.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
1,8-Grain Roll,380.0,6.0,70.0,7.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Almond Croissant,410.0,22.0,45.0,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Apple Fritter,460.0,23.0,56.0,2.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN

### **MERGE**

In [57]:
# Read 'countryGDP.csv' data
country = pd.read_csv("countryGDP.csv")

In [58]:
# Check first 4 rows
country.head(4)

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN

In [59]:
# show the shape of dataset
country.shape

(201, 4)

In [60]:
# Now read 'GlobalFirePower.csv' data
globalfire = pd.read_csv('GlobalFirePower.csv')

In [61]:
# Check first 4 rows
globalfire.head(4)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
0,United States,USA,1,323995528,145215000,120025000,4220000,2363675,1373650,990025,...,224792,13513,587800,17910000,117600,18560000,9826675,19924,12048,41009
1,Russia,RUS,2,142355415,70000000,47000000,1355000,3371027,798527,2572500,...,87157,1218,44600,514800,365500,3745000,17098242,37653,22408,102000
2,China,CHN,3,1373541278,750000000,619000000,19550000,3712500,2260000,1452500,...,86000,507,161700,983500,3092000,21270000,9596961,14500,22457,110000
3,India,IND,4,1266883598,616000000,489600000,22900000,4207250,1362500,2844750,...,63974,346,51000,507000,359100,8721000,3287263,7000,13888,14500

In [62]:
# merge on column that have common entries
# default "inner" value
df = pd.concat((globalfire,country),join = 'inner')

In [63]:
# Check first 6 rows
df.head(6)

          Country
0   United States
1          Russia
2           China
3           India
4          France
5  United Kingdom

In [ ]:
#merge only a few columns (Manpower available and Railway overage) with the GDP data frame using the Country Column
y = pd.merge(country,globalfire [['Country','Manpower Available','Railway Coverage (km)']],on = 'Country',how ='outer',indicator = True)

In [69]:
# Check first 6 rows
y.head(6)

,Country,Code,Population,GDP per Capita,Manpower Available,Railway Coverage (km),_merge
0,Afghanistan,AFG,32526562.0,594.323081,14000000.0,0.0,both
1,Albania,ALB,2889167.0,3945.217582,1515000.0,339.0,both
2,Algeria,ALG,39666519.0,4206.031232,20400000.0,3973.0,both
3,American Samoa*,ASA,55538.0,NaN,NaN,NaN,left_only
4,Andorra,AND,70473.0,NaN,NaN,NaN,left_only
5,Angola,ANG,25021974.0,4101.472152,6030000.0,2764.0,both

In [89]:
#Show the shape of data

In [ ]:
#why 126?

In [90]:
# gfp['Country'].isin(gdp['Country']).value_counts() #126 values of gdp appear in gfp too

In [ ]:
#Database type merging

In [91]:
#Keep every row in the left dataframe. Where there are missing values of the "on" variable in the right dataframe, add empty

In [92]:
# Check first 7 rows

In [ ]:
# Check the shape of dataset

(201, 6)

In [93]:
#Keep every row in the right dataframe. Where there are missing values of the "on" variable in the right dataframe, add empty

In [94]:
# Check last 7 rows

In [95]:


#A full outer join returns all the rows from the left dataframe, 
#all the rows from the right dataframe, and matches up rows where possible, with NaNs elsewhere
#indicator will tell us the joining was done

In [ ]:
#Show the shape of data

(208, 7)

In [96]:
# Check first 10 rows

### comparing the differences between string sequences

In [70]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [71]:
# Read room_type.csv and show first 10 rows
room = pd.read_csv('room_type.csv')
room.head(10)

,Expedia,Booking.com
0,"Deluxe Room, 1 King Bed",Deluxe King Room
1,"Standard Room, 1 King Bed, Accessible",Standard King Roll-in Shower Accessible
2,"Grand Corner King Room, 1 King Bed",Grand Corner King Room
3,"Suite, 1 King Bed (Parlor)",King Parlor Suite
4,"High-Floor Premium Room, 1 King Bed",High-Floor Premium King Room
5,"Traditional Double Room, 2 Double Beds",Double Room with Two Double Beds
6,"Room, 1 King Bed, Accessible",King Room - Disability Access
7,"Deluxe Room, 1 King Bed",Deluxe King Room
8,Deluxe Room,Deluxe Room (Non Refundable)
9,"Room, 2 Double Beds (19th to 25th Floors)",Two Double Beds - Location Room (19th to 25th ...

In [98]:
from fuzzywuzzy import fuzz
## pip install fuzzywuzzy

In [ ]:
# Check the fuzzy ration between 'Grand Corner King Room, 1 King Bed' and 'Grand Corner King Room'

79

In [ ]:
## sensitive to minor differences in word order

In [ ]:
# Check the partial ration of 'Grand Corner King Room, 1 King Bed' and 'Grand Corner King Room'

100

#### ignore word order

In [100]:
# Now lets ignore word order and find the token sort ration of 'Suite, 1 King Bed (Parlor)' and 'King Parlor Suite'